@import 'reset.css';

body {
  box-sizing: border-box;
  padding-bottom: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.menu-wrap {
  width: 100%;
  height: 50px;
  background-color: #484035;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
}

.dropbtn {
  color: #ffffff;
  height: 40px;
  min-width: 100px;
  font-weight: bold;
}

.menu-brand {
  background-color: #362D25;
}


.dropdown {
  position: relative;
  display: inline-block;
  height: 80%;
  top: 10%;
  margin: 0 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #b8acac33;
  z-index: 1;
}

.brand {
  right: 0px;
  text-align: right;
}


.dropdown-content a {
  color: #555555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: small;
}

.dropdown-content a:hover {
  color: #32C4BE;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #32C4BE;
  background-color: #ffffff;
}


.dish-wrap {
  margin-top: 30px;
  width: 1000px;
  margin: 0 auto;
}

.dish-wrap section{
  text-align: -webkit-center;
}

.category {
  color: #999999;
  font-weight: bold;
  margin: 10px;
}

.category-description {
  font-size: x-large;
}

.bold {
  color: #000000;
  font-weight: bold;
}

.item_slide-wrap {
  display: flex;
  margin: 30px;
}

.item_slide-wrap button {
  font-size: xx-large;
  color: #BEBEBE;
}

.item_slide-wrap button:before {
  font-size: xx-large;
  color: #BEBEBE;
} 

.item-wrap {
  width: -webkit-fill-available;
  display: flex;
}

.item {
  width: 180px;
  min-height: 290px;
  margin: 0 20px;
}

.item-image_box {
  width: 180px;
  height: 180px; 
  margin-bottom: 20px;
  border-radius: 70%;
  overflow: hidden;
  position: relative;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.item-image_box:hover .overlay {
  opacity: 0.7;
}

.item-delivery_type {
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.item-delivery_type_line {
  width: 50%;
  border: 0.3px solid #ffffff;
}

.item-title {
  padding: 2px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-description {
  margin: 5px 0;
  font-size: x-small;
  color: #8E8E8E;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price {
  margin-bottom: 10px;
}

.item-original_price {
  margin-right: 5px;
  font-size: x-small;
  color: #8E8E8E;
  text-decoration:line-through;
}

.item-final_price {
  color: #32C4BE;
  font-size: larger;
  font-weight: bold;
}

.item-badge {
  margin: 3px;
  width: fit-content;
  padding: 5px;
  background-color: #A974BE;
  color: #ffffff;
  font-size: x-small;
  font-weight: bold;
}


.dish_line {
  width: 80%;
  border: 0.5px solid #ECECEC;
}

.dish-view-all {
  position: relative;
  left: 10%;
  width: 80%;
  height: 35px;
  color: #9C9C9C;
  border: 1px solid #ECECEC;
  font-weight: bold;
  font-size: small;
  display: block;
}

.soup-wrap {
  display: none;
}

.detail-popup {
  /* visibility: hidden; */
  display: flex;
  justify-content: space-between;
  width: 794px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
  font-size: small;
  font-weight: bold;
}

.detail-popup .top-image {
  width: 298px;
}

.detail-popup .thumb-images {
  display: flex;
}

.detail-popup .thumb-image {
  width: 70px;
  height: 70px;
  margin: 6px 6px 6px 0;
}


.product-wrap {
  position: relative;
}

.detail-popup .close-btn {
  font-size: xx-large;
  position: absolute;
  right: -2px;
  top: -8px;
}

.detail-popup .title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-popup .description-wrap {
  display: flex;
  margin-top: 15px;
}

.detail-popup .description_title {
  color: #a7a5a7;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-popup .description {
  color: #636263;
  width: 351px;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-popup .item-price {
  text-align: end;
  padding: 10px;
}

.detail-popup .item-price .item-final_price {
  color: #000000;
  font-size: x-large;
}

.detail-popup hr {
  border: 0.5px solid #a7a5a7;
  margin: 10px 0;
}

.product-count-wrap {
  display: flex;
  justify-content: space-between;
  line-height: 250%;
}

.product-count_box-wrap {
  display: flex;
}

.product-count_box {
  border: 0.5px solid #a7a5a7;
  padding: 0 20px;
}

.product-count_button-wrap {
  display: inline-grid;
}

.product-count_button {
  border: 0.5px solid #a7a5a7;
  border-left: none;
  padding: 0 6px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-price .total-price_msg {
  font-weight: bold;
  margin: 10px;
}

.total-price .item-final_price {
  font-size: x-large;
}

.detail-popup .buy-btn {
  background-color: #32C4BE;
  color: #ffffff;
  width: -webkit-fill-available;
  height: 47px;
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

.dim {
  /* visibility: hidden; */
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.05);
  top: 0;
  left: 0;
  z-index: 1;
}